<%= render partial: 'navbar' %>
<div class="container" id="root">
  <%= render partial: 'search' %>
  <%= render partial: 'loader' %>
</div>
<%= render partial: 'artist_dashboard' %>
<%= render partial: 'lot_dashboard' %>
